FP-LA/gbstore/gbstore-canonical-model/src/main/resources/au/com/gbstore/messages/legacysystem/errorMessage/v1.0/error-message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://gbstore.com.au/messages/legacysystem/errorMessage/v1.0"
	elementFormDefault="qualified">

	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="faultCode" type="xs:string"/>
				<xs:element name="faultString" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>