FP-LU/finalProject/goodbooze-canonical-model/src/main/resources/com/goodbooze/messages/dbtranslator/saveordernumbermsg/v1.0/SaveOrderNumberMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://goodbooze.com/messages/dbtranslator/saveordernumbermsg/v1.0" 
		xmlns:tns="http://goodbooze.com/messages/dbtranslator/saveordernumbermsg/v1.0"
		elementFormDefault="qualified">
		
		
		<xs:element name="updateOrderNumber">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="orderNumber" type="xs:string"/>
					<xs:element name="supplierOrderId" type="xs:int"/>		
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
		
</xs:schema> 