FP-LU/finalProject/goodbooze-supplierb-translator/src/main/resources/wsdl/newOrderPort.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns4="http://supplier.com/wsdl/orderRequest/error/v1.0/" xmlns:ns3="http://supplier.com/messages/response/v1.0/" xmlns:ns2="http://supplier.com/messages/request/v1.0/" xmlns:ns1="http://supplier.com/wsdl/orderRequest/v1.0/" name="newOrderPort" targetNamespace="http://supplier.com/wsdl/orderRequest/v1.0/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://supplier.com/wsdl/orderRequest/error/v1.0/" version="1.0">

  <xs:element name="Error">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://supplier.com/types/v1.0/" elementFormDefault="qualified" targetNamespace="http://supplier.com/types/v1.0/" version="1.0">

  <xs:complexType name="ItemList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="item" type="tns:Item"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="quantity" type="xs:long"/>
      <xs:element name="product" type="tns:Product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://supplier.com/messages/response/v1.0/" version="1.0">

  <xs:element name="NewOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="orderNumber" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://supplier.com/types/v1.0/" elementFormDefault="qualified" targetNamespace="http://supplier.com/messages/request/v1.0/" version="1.0">

  <xs:import namespace="http://supplier.com/types/v1.0/"/>

  <xs:element name="NewOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="itemList" type="ns1:ItemList"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ErrorMessage">
    <wsdl:part element="ns4:Error" name="ErrorMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOrderOperation">
    <wsdl:part element="ns2:NewOrder" name="newOrderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOrderOperationResponse">
    <wsdl:part element="ns3:NewOrderResponse" name="newOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="newOrderPort">
    <wsdl:operation name="NewOrderOperation">
      <wsdl:input message="ns1:NewOrderOperation" name="NewOrderOperation">
    </wsdl:input>
      <wsdl:output message="ns1:NewOrderOperationResponse" name="NewOrderOperationResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:ErrorMessage" name="ErrorMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>