FP-LU/finalProject/goodbooze-canonical-model/src/main/resources/com/goodbooze/messages/dbtranslator/suppliersrequestmsg/v1.0/SuppliersRequestMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://goodbooze.com/messages/dbtranslator/suppliersrequestmsg/v1.0"
	xmlns:tns="http://goodbooze.com/messages/dbtranslator/suppliersrequestmsg/v1.0"
	elementFormDefault="qualified">

	<xs:element name="supplierRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="productIdList" type="tns:productIdList" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="productIdList">
		<xs:sequence>
			<xs:element name="productId" type="xs:int" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	



</xs:schema>