Final-Project/jfp-canonical-project/src/main/resources/com/goodbooze/messages/dbtranslator/save-order-request.xsd


<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://goodbooze.com/messages/dbtranslator"
        elementFormDefault="qualified">

    <xs:element name="saveOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supplierOrderId" type="xs:string"/>
                <xs:element name="orderNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>